.employees__item {
	display: grid;
	grid-template-rows: 50px;
	align-items: center;
	padding: 10px 25px;
	grid-template-columns: repeat(auto-fill, 50px); 
	margin-bottom: -1px;
    border:1px solid rgba(0,0,0,.125);
}
.employees__item.increase .employees__name, 
.employees__item.increase .employees__sum{
	color: #e09f3e;
}
.employees__name {
	grid-column: 1/4;
	font-size: 18px;
	color: #000;
	margin:0;
	cursor: pointer;
}
.employees__sum {
	grid-column: 14/16;

	padding: 10px 0;
	border-radius: 4px;
	background: none;
	border: none;
	outline:none;
	text-align: center;
	font-size: 18px;
	color: #000;
}
.employees__sum:hover,:focus {
    background: #274061;
    color: #eee;
}

.employees__btn1 {
	grid-column: 17/18;

	color: #C7841F;
	background: #eeee;
	outline:none;
	border: none;
	border-radius: 4px;
	padding: 5px 0;
	font-size: 18px;
	text-align: center;
	margin:0 7px 0 7px;
	cursor: pointer;
}
.employees__btn2 {
	grid-column: 18/19;

	padding: 5px 0;
	background: #eeee;
	outline:none;
	border: none;
	border-radius: 4px;
	font-size: 18px;
	text-align: center;
	margin:0 7px 0 7px;
	cursor: pointer;
	color: #B12020;

}
.employees__btn3 {
	opacity: 0;
	grid-column: 19/20;

	padding: 5px 0;
	font-size: 18px;
	outline:none;
	border: none;
	background: none;
	transition: 0.5s;
	border-radius: 4px;
	text-align: center;
	margin:0 7px 0 7px;
	cursor: pointer;
	color: #F3C316;
}
.employees__btn3--active {
		opacity: 1;
}