.employees__item {
	display: grid;
	grid-template-rows: 50px;
	align-items: center;
	padding: 10px 25px;
	grid-template-columns: repeat(auto-fill, 50px); 
	margin-bottom: -1px;
    border:1px solid rgba(0,0,0,.125);
}
.employees__name {
	grid-column-start: 1;
	grid-column-end: 10;
	font-size: 18px;
	color: #000;
	margin:0;
}
.employees__sum {
	grid-column-start: 14;
	grid-column-end: 16;
	padding: 10px 0;
	border-radius: 4px;
	background: none;
	border: none;
	outline:none;
	text-align: center;
	font-size: 18px;
	color: #000;
}
.employees__sum:hover,:focus {
    background: #274061;
    color: #000;
}

.employees__btn1 {
	grid-column-start: 17;
	grid-column-end: 18;
	color: #986820;
	background: #eeee;
	outline:none;
	border: none;
	border-radius: 4px;
	padding: 5px 0;
	font-size: 18px;
	text-align: center;
	margin:0 7px 0 7px;
	cursor: pointer;
}
.employees__btn2 {
	grid-column-start: 18;
	grid-column-end: 19;
	padding: 5px 0;
	background: #eeee;
	outline:none;
	border: none;
	border-radius: 4px;
	font-size: 18px;
	text-align: center;
	margin:0 7px 0 7px;
	cursor: pointer;
	color: #B12020;

}
.employees__btn3 {
	display: none;
	grid-column-start: 19;
	grid-column-end: 20;
	padding: 5px 0;
	font-size: 18px;
	background: #274061;
	outline:none;
	border: none;
	border-radius: 4px;
	text-align: center;
	margin:0 7px 0 7px;
	cursor: pointer;
	/*color: #eeee;*/
}