.btn {
	margin-top: 20px;
}
.btn__click {
	margin-right: 10px;
	padding: 10px;
	border-radius: 4px;
	outline:none;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid #eee;
	background-color: #3d5a80;
	color: #eeee;
}
.btn__click:focus {
	color: #000;
	background: #eee;
	/*animation: click 0.3s ease;*/
}
.btn__click--active {
	color: #000;
	background: #eee;
}
.btn__click--active:focus {
	color: #000;
	background: #eee;
}


/*@keyframes click {
  from {
    box-shadow: 0px 0px 0px 0px #eee;
  }

  to {
    box-shadow: 5px 5px 5px #eee;

  }
}*/