.formAdd {
	margin-top: 30px;
	padding: 25px;
	background: #3d5a80;
	border-radius: 4px;
	box-shadow: 15px 15px 30px rgba(0,0,0, .15);
	color: #eee;
}
.formAdd__form {
	margin-top:20px;
}
.formAdd__form input {
	width: 350px;
	margin-right: 20px;
}
.formAdd h3 {
	margin: 0;
}
.formAdd__name {
	padding: 10px;
	border-radius: 4px;
	background: #eee;
	border: none;
	outline:none;
	font-size: 16px;
	color: #000;
}
.formAdd__sum {
	padding: 10px;
	border-radius: 4px;
	background: #eee;
	border: none;
	outline:none;
	font-size: 16px;
	color: #000;
}
.formAdd__btn {
	padding: 10px;
	border-radius: 4px;
	background: none;
	border: 1px solid #eee;
	outline:none;
	font-size: 16px;
	color: #eee;
	cursor: pointer;
}